/* CSS for Evento Project */

/* BASE STYLES */
body {
  font-family: Lato, Arial;
  color: white;
  background-image: url(https://images.unsplash.com/photo-1583795484071-3c453e3a7c71?ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=100);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-position-y: -300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  animation: fade-in 0.5s;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.links {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.link-item {
  margin-right: 25px;
}

/* MAIN */

.main {
  text-align: center;
  margin-top: 110px;
  animation: fade-in 0.5s 0.1s backwards;
}

.heading {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  line-height: 0.9;
}

.text {
  font-size: 24px;
  height: 10px;
  opacity: 0.8;
}

.text--bold {
  font-weight: 700;
}

.form {
  margin-top: 60px;
}

.input {
  width: 511px;
  height: 64px;
  border: none;
  padding: 0px;
  border-radius: 3px;
  opacity: 0.8;
  padding-left: 30px;
  font-size: 17px;
  font: inherit;
  outline: none; /* Not a good practice to remove it as it is part of accessibility So "Find Replacement" like increasing opacity on focus as it is done below */
  transition: all 0.4s;
}

.input:focus {
  opacity: 1;
}

.input::placeholder {
  color: black;
}

.btn {
  border: none;
  padding: 24px 40px;
  background-color: black;
  color: white;
  font: inherit;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.4s;
  transition: all 0.4s;
  vertical-align: top;
}

.btn:hover {
  cursor: pointer;
  background-color: #161616;
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  font-size: 12px;
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  animation: fade-in 0.5s 0.2s backwards;
}
